################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Application.UnitTests/bin/Debug/net8.0
/Application.UnitTests/obj
/WebApi/.vs
/WebApi/Api/bin/Debug/net8.0
/WebApi/Api/obj
/WebApi/Application/bin/Debug/net8.0
/WebApi/Application/obj
/WebApi/bin/Debug
/WebApi/Domain/bin/Debug/net8.0
/WebApi/Domain/obj
/WebApi/Domain.UnitTests/bin/Debug/net8.0
/WebApi/Domain.UnitTests/obj
/WebApi/Infrastructure/bin/Debug/net8.0
/WebApi/Infrastructure/obj
/WebApi/obj
/WebApi/WebApi/obj
